{% extends 'base.html.twig' %}

{% block title %}CartController!{% endblock %}

{% block body %}
<section class="bg-light p-3">
<h1>Votre Panier</h1>
</section>

<table class="table">
  <thead>
  <tr>
  <th>Produit</th>
  <th>Prix</th>
  <th>Quantite</th>
  <th>Total</th>
  <th>Actions</th>
</tr>
</thead>
<tbody>

  {% for element in dataCart %}
  <tr>
  <td>{{  element.product.title }}</td>
  <td class="text-end">{{  element.product.price }} €</td>
  <td>{{  element.quantity}}</td>
  <td class="text-end">{{  element.quantity * element.product.price}} €</td>
  <td>
  <a href="{{path("cart_add", {id: element.product.id})}}" class="btn btn-success">
  +
  </a>
  <a href="{{path("cart_remove", {id: element.product.id})}}" class="btn btn-warning">
  -
  </a>
  <a href="{{path("cart_delete", {id: element.product.id})}}" class="btn btn-danger">Supprimer
  
  </a>
  </td>
  </tr>
  {% else %}
  <tr>
  <td colspan="5" class="text-center">Votre panier est vide.</td>
  </tr>
  {% endfor %}
</tbody>
<tfoot>
<tr>
<td colspan="3">Total</td>
<td class="text-end">{{ total }} €</td>
<td><a href="{{path("cart_delete_all")}}" class="btn btn-danger">Vider le panier</a>
<i class="bi bi-cart-x"></i></td>
</tr>
</tfoot>
<table>
{% if app.user is null %}
    <form method="post" action="{{ path('app_orders_add') }}">
        <label for="guest_email">Votre email :</label>
        <input type="email" name="guest_email" id="guest_email" required>
        <button type="submit">Valider la commande</button>
    </form>
{% else %}
    <a href="{{path("app_orders_add") }}" class="btn btn-primary">Valider le panier</a>
{% endif %}



{% endblock %}
