
<div class="card mb-4 box-shadow">
<div class="img-card-canvas">
   {% for image in advert.images %}
      <img class="card-img-top img-fluid img-card imgView"
        src="{{ asset('/uploads/images/' ~ image.name) }}" alt="Card image cap">
        {% endfor %}
</div>
<div class="card-body">
    <h5 class="card-title advert-title">{{ advert.title }}</h5>
    <div class="card-text">
    <p>{{ advert.brand }} </p>
        <p>{{ advert.price }} €</p>
    </div>
    <p class="text-center">
        <a href="{{ path('adverts_show', {'id': advert.id}) }}" class="btn btn-primary">Voir</a>
    </p>
</div>
</div>