{% extends 'base.html.twig' %}

{% block title %}Description{% endblock %}

{% block body %}
<main class="container-fluid text-black">
<section class="row">
    <div class="col-12">
     <h2>{{ advert.title }}</h2>
     </div>
    <div class="col-6">
     <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
   {% for iteration in 1..advert.images|length %}
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ iteration - 1 }}" {{ loop.first ? 'class=\"active\" aria-current=\"true\"' : '' }} aria-label="Slide {{ iteration }}"></button>
    {% endfor %}
  </div>
  <div class="carousel-inner">
  {% for image in advert.images %}
    <div class="carousel-item {{ (loop.first ) ? 'active' : '' }}">
       <img src="{{ asset('uploads/images/' ~ image.name) }}" class="d-block w-100 carousel-image" alt="Card image cap">
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
     </div>

    
    

    
    <div class="card-body col-sm-12 col-lg-4 border bg-bluecard">
                <section class="container-fluid d-flex flex-column" width="353" height="323">
                    <div class="row d-flex">
                        <div class="col-sm-8 col-lg-4">
                            <img class="card-img-top img-fluid img-card owner-pic" srcphotoduownerdelannonce class="thumbnail rounded mx-auto d-block" width="64" height="64" alt="img-profile">
                        </div>
                        <div class="col text-black">
                            <p>
                                <strong>
                                    {{ advert.owner.pseudo }}
                                </strong>
                            </p>
                            <cite>
                                <p>{{ advert.owner|length }} annonces</p>
                            </cite>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-black">
                                <p>
                                    Mail en journée pour plus de rapidité ou sms sinon sans problèmes
                                </p>
                            </div>
                            <HR>
                        </div>
                    </div>
                    <div class="row">
                        <a href="{{ path("send", {id: advert.id}) }}" class="col border btn btn-danger text-black">Contacter</a>
                    </div>
                </div>
            </section>
        </div>

    
    
    
        
    
     <div class="col-6">
                            <cite> <strong>Description:</strong> </cite>
                               <p>{{ advert.description }}</p> 
                           
                          </div> 
                          <HR>
                          <div class="row">
    <div class="col-6">
    <cite><strong>Prix:</strong>  <p>{{ advert.price }} €</p></cite>
     </div>

     <div class="col-6">
    <cite><strong>Etat:</strong>  <p>{{ advert.useCondition }}</p></cite>
    </div>
     <div class="col-6">
    <cite><strong>Statut de l'article:</strong>  <p>{{ advert.status }}</p></cite>
    </div>

    
    <div class="col-6">
    <cite><strong>Region:</strong>  <p>{{ advert.region }}</p></cite>
     </div>
    <div class="col-6">
    <cite><strong>Categorie:</strong> <p>{{ advert.category }}</p></cite>
            
     </div>
    <div class="col-6">          
                      <cite><strong>Marque:</strong></cite>
                           <p>{{ advert.brand }}</p> 
                            
                    </div>    
                    </div>    
                <HR>
        </div>
        </section>
        <div class="row">
        <div class="col-6">    
                         <p>Annonce parue le {{ advert.createdAt|date("d/m/Y") }}</p>
                    </div>

                    <div class="col-6">    
                   <p>Dernière mise à jour le{{ advert.updatedAt|date("d/m/Y") }}</p>
                   </div>        
                       

                  <div class="col-6">      
                     <a href="#" class="btn btn-primary col-xs-3">Signaler l'annonce</a>
                       </div>

                     <br>
                     </div>
                     <HR>
            </div>  
        </div>


<section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">SKU: BST-498</div>
                        <h1 class="display-5 fw-bolder">Shop item template</h1>
                        <div class="fs-5 mb-5">
                            <span class="text-decoration-line-through">$45.00</span>
                            <span>$40.00</span>
                        </div>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}                              
             
                        
                           
                    

 

